*.exe
*.lib
*.dll
CMakeFiles
CMakeCache.txt
*.swp
*.log
*.pyd
*.pyc
Makefile
Session.vim
version.h
*_wrap.c??
cmake_install.cmake
*.o
Testing
build
_*
*-d.png
*-g.png
tools

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
